<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MemeApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ws_android_ui_02_3_huijuoh"
        tools:targetApi="31">

        <activity
            android:name=".ui.view.TermsConditionsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.view.ListMemoEditActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>

        <receiver
            android:name=".ui.view.widget.MemoWidgetProvider"
            android:exported="false"
            android:label="MemoWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/memo_widget_info" />
        </receiver>

        <activity
            android:name=".ui.view.PrivacyPolicyActivity"
            android:exported="false" />

        <activity
            android:name=".ui.view.MemoEditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.view.MainActivity" />
        </activity>

        <activity
            android:name=".ui.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>